.buildResult
release
.vs
obj
bin
*.csproj.user
.sign
*.wgt
tv.local.json
tizen_dotnet_project.yaml
tizen_web_project.yaml
tizen_workspace.yaml
.tizen-rds
HyperTizenUI/Debug
HyperTizenUI/Release
homey.local.json
